@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat:400,500,600,700");
@media (max-width: 939px) {
  .jumbotron {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .jumbotron .presentation {
      text-align: center;
      width: 600px !important; }
      .jumbotron .presentation h1 #autotype {
        font-size: 70px; }
        .jumbotron .presentation h1 #autotype::after {
          margin-bottom: -3px !important; }
    .jumbotron .face {
      width: 300px !important;
      height: 300px !important; }
  .skill {
    margin: 0 !important; } }

@media (max-width: 510px) {
  .jumbotron {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .jumbotron .presentation {
      text-align: center; }
      .jumbotron .presentation h1 {
        font-size: 50px;
        line-height: 50px; }
        .jumbotron .presentation h1::after {
          margin-bottom: -3px !important; }
    .jumbotron .face {
      width: 240px !important;
      height: 240px !important; }
  .skills-container p {
    width: auto !important;
    margin: 0 12px !important;
    font-size: 1em !important; } }

@media (max-width: 670px) {
  .skills {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important; } }

@media (max-width: 314px) {
  h2 {
    font-size: 2em !important; }
  .jumbotron {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .jumbotron .presentation {
      text-align: center; }
      .jumbotron .presentation h1 #autotype {
        font-size: 50px;
        line-height: 50px; }
    .jumbotron .face {
      width: 200px !important;
      height: 200px !important;
      margin-bottom: 15px; } }

body {
  padding: 0px !important;
  margin: 0px !important;
  color: white;
  min-width: 270px; }

h1 {
  font-size: 85px;
  margin-bottom: 0;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 80px;
  text-transform: uppercase; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 1.7em; }

h1, h2, h3 {
  font-family: Montserrat;
  text-transform: uppercase;
  margin: 0; }

p {
  font-family: Montserrat;
  line-height: 22px; }

.jumbotron {
  width: 100%;
  height: 733px;
  background: url("../img/kyoto-min-wena.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 25px 0; }
  .jumbotron div {
    margin: auto 25px; }
  .jumbotron .face {
    width: 350px;
    height: 350px;
    background: url("../img/me-min.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border: solid 1px whitesmoke; }
  .jumbotron .presentation {
    overflow: auto;
    width: 470px; }

#autotype::after {
  content: '';
  -webkit-animation: blink 0.5s linear infinite alternate;
  animation: blink 0.5s linear infinite alternate;
  opacity: 0;
  display: inline-block;
  width: 4px;
  height: 0.8em;
  margin-bottom: -5px;
  vertical-align: center !important;
  background: white; }

@-webkit-keyframes blink {
  100% {
    opacity: 1; } }

@keyframes blink {
  100% {
    opacity: 1; } }

.skills-container {
  background: white;
  color: #3f465b;
  padding: 70px 0;
  text-align: center; }
  .skills-container p {
    width: 70%;
    font-size: 1.1em;
    margin: 15px auto; }
  .skills-container h2 {
    margin-bottom: 30px; }
  .skills-container .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .skills-container .skills i {
      font-size: 45px;
      margin-bottom: 20px;
      color: #8b9aa6; }
    .skills-container .skills .skill {
      padding: 20px 10px 5px 10px;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin: 20px 30px;
      border-radius: 9%;
      color: #8b9aa6; }
      .skills-container .skills .skill p {
        width: 100%;
        font-size: 1em; }
      .skills-container .skills .skill h3 {
        color: #3f465b; }
